<?xml version="1.0" ?>
<envConfig>
  
  <environment.name>development</environment.name>
  <environment.httpHostName>localhost</environment.httpHostName>
  <environment.gameRT.clientEndpointAddress>net.pipe://localhost/Gaming/1/3</environment.gameRT.clientEndpointAddress>
  <environment.rgsXT.serviceEndpointAddress>http://localhost:18200/</environment.rgsXT.serviceEndpointAddress>
  <environment.monitoringIGT.serviceEndpointAddress>http://localhost:18200/HealthMonitor</environment.monitoringIGT.serviceEndpointAddress>
  <environment.banking.serviceEndpointAddress>http://localhost:18201/Banking</environment.banking.serviceEndpointAddress>
  <environment.player.serviceEndpointAddress>http://localhost:18201/Player</environment.player.serviceEndpointAddress>
  <environment.admin.serviceEndpointAddress>http://localhost:18201/Admin</environment.admin.serviceEndpointAddress>
  <environment.discovery.serviceEndpointAddress>http://localhost:18201/Discovery</environment.discovery.serviceEndpointAddress>
  <environment.gameRTJson.serviceEndpointAddress>http://localhost:18201/Gaming/1/3</environment.gameRTJson.serviceEndpointAddress>
  <environment.gameRT.serviceEndpointAddress>net.pipe://localhost/Gaming/1/3</environment.gameRT.serviceEndpointAddress>
  <environment.monitoringWallet.serviceEndpointAddress>http://localhost:18201/HealthMonitor</environment.monitoringWallet.serviceEndpointAddress>
  <environment.ballyPlayer.serviceEndpointAddress>http://localhost:18200/SGPBallyIntegration/rest/gp/players</environment.ballyPlayer.serviceEndpointAddress>
  <environment.ballySystem.serviceEndpointAddress>http://localhost:18200/SGPBallyIntegration/rest/gp/system</environment.ballySystem.serviceEndpointAddress>
  <environment.ballyGaming.serviceEndpointAddress>http://localhost:18200/SGPBallyIntegration/rest/gp/gamecycles</environment.ballyGaming.serviceEndpointAddress>
  
  <bingo.dbHost>localhost</bingo.dbHost>
  <bingo.dbConnectionstring>Database={0};Data Source={1};Port={2};User Id=freeBingo;Password=freeBingo;</bingo.dbConnectionstring>
  <bingo.dbName>fb_dev</bingo.dbName>
  <bingo.dbPortNumber>3400</bingo.dbPortNumber>
  <bingo.firstHttpPortNumber>2201</bingo.firstHttpPortNumber>
  <bingo.lastHttpPortNumber>2260</bingo.lastHttpPortNumber>
  <bingo.profileLogPeriod>600000</bingo.profileLogPeriod>
  <bingo.secondsBeforeClearingProfileStats>600</bingo.secondsBeforeClearingProfileStats>
  <bingo.randomNumberGeneratorServiceUrl>http://31.222.164.54/RandomNumber.svc/{host}/{game}/generate$format=json</bingo.randomNumberGeneratorServiceUrl>
  <bingo.deadZoneStartTimeHours>4</bingo.deadZoneStartTimeHours>
  <bingo.deadZoneStartTimeMinutes>50</bingo.deadZoneStartTimeMinutes>
  <bingo.deadZonePeriodMinutes>16</bingo.deadZonePeriodMinutes>
  <bingo.minSecondsBetweenClientHeartbeats>10</bingo.minSecondsBetweenClientHeartbeats>
  <bingo.heartbeatGroupsPerRoom>10</bingo.heartbeatGroupsPerRoom>
  <bingo.heartbeatOffsetPerRoomSeconds>10</bingo.heartbeatOffsetPerRoomSeconds>
  
  <bingo.systemLogListener.fileName>..\logs\_engine.log</bingo.systemLogListener.fileName>
  <bingo.serverLogListener.fileName>..\logs\_engine_errors.log</bingo.serverLogListener.fileName>
  <bingo.systemProfilerLogListener.fileName>..\logs\_engine_status.log</bingo.systemProfilerLogListener.fileName>
  <bingo.dbProfilerLogListener.fileName>..\logs\_engine_db_profile.log</bingo.dbProfilerLogListener.fileName>
  <bingo.messageProfilerLogListener.fileName>..\logs\_engine_msg_profile.log</bingo.messageProfilerLogListener.fileName>
  <bingo.badIpLogListener.fileName>..\logs\_engine_junk_ips.log</bingo.badIpLogListener.fileName>
  <bingo.clientErrorLogListener.fileName>..\logs\_client_errors.log</bingo.clientErrorLogListener.fileName>

  <bingo.gameLog.categorySource>Information</bingo.gameLog.categorySource>
  <bingo.messageBadIpLog.categorySource>All</bingo.messageBadIpLog.categorySource>
  <bingo.messageBrokerLog.categorySource>Information</bingo.messageBrokerLog.categorySource>
  <bingo.roomLog.categorySource>Information</bingo.roomLog.categorySource>
  <bingo.messageDataLog.categorySource>Off</bingo.messageDataLog.categorySource>
  <bingo.schedulerLog.categorySource>Information</bingo.schedulerLog.categorySource>
  <bingo.serverErrorLog.categorySource>All</bingo.serverErrorLog.categorySource>
  <bingo.generalErrorLog.categorySource>All</bingo.generalErrorLog.categorySource>
  <bingo.dbProfilerLog.categorySource>Information</bingo.dbProfilerLog.categorySource>
  <bingo.msgProfilerLog.categorySource>Information</bingo.msgProfilerLog.categorySource>
  <bingo.sysProfilerLog.categorySource>All</bingo.sysProfilerLog.categorySource>
  <bingo.lockingLog.categorySource>Off</bingo.lockingLog.categorySource>
  <bingo.taskLog.categorySource>All</bingo.taskLog.categorySource>
  <bingo.robotLog.categorySource>Information</bingo.robotLog.categorySource>
  <bingo.jsonpClientProxyLog.categorySource>Information</bingo.jsonpClientProxyLog.categorySource>
  <bingo.httpMessagingLog.categorySource>Information</bingo.httpMessagingLog.categorySource>
  <bingo.sgpMediatorLog.categorySource>Information</bingo.sgpMediatorLog.categorySource>

  <bingo.allEventsLog.specialSource>All</bingo.allEventsLog.specialSource>
  <bingo.notProcessedLog.specialSource>All</bingo.notProcessedLog.specialSource>
  <bingo.errorsLog.specialSource>All</bingo.errorsLog.specialSource>

  <bingo.webXmlOverHttpEndpointBehavior.helpEnabled>true</bingo.webXmlOverHttpEndpointBehavior.helpEnabled>
  <bingo.webJsonOverHttpEndpointBehaviour.helpEnabled>true</bingo.webJsonOverHttpEndpointBehaviour.helpEnabled>
  <bingo.netNamedPipeEndpointBehaviour.integrationToken>Bingo</bingo.netNamedPipeEndpointBehaviour.integrationToken>


  <bingo.myServiceTypeServiceBehavior.httpGetEnabled>true</bingo.myServiceTypeServiceBehavior.httpGetEnabled>
  <bingo.myServiceTypeServiceBehavior.includeExceptionDetailInFaults>true</bingo.myServiceTypeServiceBehavior.includeExceptionDetailInFaults>
  <bingo.returnFaultsServiceBehavior.includeExceptionDetailInFaults>true</bingo.returnFaultsServiceBehavior.includeExceptionDetailInFaults>

  <bingo.webHttpBindingConfig.hostNameComparisonMode>Exact</bingo.webHttpBindingConfig.hostNameComparisonMode>
  <bingo.webHttpsBindingConfig.hostNameComparisonMode>Exact</bingo.webHttpsBindingConfig.hostNameComparisonMode>

  <core.version>DEV_BUILD</core.version>
  <core.igtServer>rgs-cust02.lab.wagerworks.com</core.igtServer>
  <core.igtUserName>ws-client</core.igtUserName>
  <core.igtPassword>password</core.igtPassword>
  <core.igtSkinCode>IP01</core.igtSkinCode>
  <core.igtNSCode>IPSL</core.igtNSCode>
  <core.igtSiteCode>WOOHOO</core.igtSiteCode>
  <core.igtTaskInterval>00:30:00</core.igtTaskInterval>
  <core.igtProtocolType>https</core.igtProtocolType>
  <core.igtCountryCode>GB</core.igtCountryCode>
  <core.gameLaunchUrl>{0}://{1}{2}?language={3}&amp;nscode={4}&amp;skincode={5}&amp;softwareid={6}&amp;countrycode={7}&amp;currenccode={8}&amp;uniqueid={9}&amp;securetoken={10}</core.gameLaunchUrl>
  <core.gameEngine>IGT</core.gameEngine>
  <core.dbConnectionString>Data Source={0};Database={1};Port={2};User Id={3};Password={4};Use Compression={5};connect timeout=5;default command timeout=20</core.dbConnectionString>
  <core.dbHost>localhost</core.dbHost>
  <core.dbName>sgp</core.dbName>
  <core.dbPort>3400</core.dbPort>
  <core.dbUser>gambler</core.dbUser>
  <core.dbPassword>g@mbl3r</core.dbPassword>
  <core.dbCompression>false</core.dbCompression>
  <core.sqlMapAssembly>SGP.Repository</core.sqlMapAssembly>
  <core.sqlMapResource>SGP.Repository.Maps.Config.sqlMap.config</core.sqlMapResource>
  <core.loginExpiryMinutes>10</core.loginExpiryMinutes>
  <core.igtUsername2>IPSLUSER</core.igtUsername2>
  <core.igtPassword2>password</core.igtPassword2>
  <core.sgpToken>IGT</core.sgpToken>
  <core.gamingMetadataStorageRootDirectory>c:\dev\metadata</core.gamingMetadataStorageRootDirectory>
  <core.gamingMetadataStorageFileNameFormat>{0}.log</core.gamingMetadataStorageFileNameFormat>
  <core.gamingMetadataStorageSubDirectoryFormat>yyyy-MM-dd</core.gamingMetadataStorageSubDirectoryFormat>

  <core.azureNamespace>sgpbede</core.azureNamespace>
  <core.azureIssuer>owner</core.azureIssuer>
  <core.azureKey>pARZdOfnQMntMyvdtZcr2ZUc891wFA1JhSJAOVgdZqM=</core.azureKey>
  
  <core.sgpServiceLogListener.fileName>logs\sgp.log</core.sgpServiceLogListener.fileName>

  <core.dbProfiler.categorySource>Off</core.dbProfiler.categorySource>
  <core.sysProfiler.categorySource>Off</core.sysProfiler.categorySource>
  <core.rgsXT.categorySource>All</core.rgsXT.categorySource>

  <core.allEventsLog.specialSource>All</core.allEventsLog.specialSource>
  <core.notProcessedLog.specialSource>All</core.notProcessedLog.specialSource>
  <core.errorsLog.specialSource>All</core.errorsLog.specialSource>

  <core.gameRTJsonEndpointBehaviour.helpEnabled>true</core.gameRTJsonEndpointBehaviour.helpEnabled>
  <core.webXmlOverHttpEndpointBehavior.helpEnabled>true</core.webXmlOverHttpEndpointBehavior.helpEnabled>
  <core.webJsonOverHttpEndpointBehaviour.helpEnabled>true</core.webJsonOverHttpEndpointBehaviour.helpEnabled>
  <core.netNamedPipeEndpointBehaviour.integrationToken>IGT</core.netNamedPipeEndpointBehaviour.integrationToken>

  <core.standardServiceBehaviour.includeExceptionDetailInFaults>true</core.standardServiceBehaviour.includeExceptionDetailInFaults>
  <core.standardServiceBehaviour.httpHelpPageEnabled>true</core.standardServiceBehaviour.httpHelpPageEnabled>

  <core.igtMonitorGroup.SGPWalletIpAddress>localhost</core.igtMonitorGroup.SGPWalletIpAddress>
  <core.igtMonitorGroup.SGPWalletPort>18201</core.igtMonitorGroup.SGPWalletPort>
  <core.sgpWalletMonitorGroup.IGTIpAddress>localhost</core.sgpWalletMonitorGroup.IGTIpAddress>
  <core.sgpWalletMonitorGroup.IGTPort>18200</core.sgpWalletMonitorGroup.IGTPort>
  
  <bally.sgpServiceLogListener.fileName>logs\sgp.log</bally.sgpServiceLogListener.fileName>
   
  <bally.dbProfiler.categorySource>Off</bally.dbProfiler.categorySource>
  <bally.sysProfiler.categorySource>Off</bally.sysProfiler.categorySource>
  <bally.rgsXT.categorySource>All</bally.rgsXT.categorySource>
   
  <bally.allEventsLog.specialSource>All</bally.allEventsLog.specialSource>
  <bally.notProcessedLog.specialSource>All</bally.notProcessedLog.specialSource>
  <bally.errorsLog.specialSource>All</bally.errorsLog.specialSource>

  <bally.gameRTJsonEndpointBehaviour.helpEnabled>true</bally.gameRTJsonEndpointBehaviour.helpEnabled>
  <bally.webXmlOverHttpEndpointBehavior.helpEnabled>true</bally.webXmlOverHttpEndpointBehavior.helpEnabled>
  <bally.webJsonOverHttpEndpointBehaviour.helpEnabled>true</bally.webJsonOverHttpEndpointBehaviour.helpEnabled>
  <bally.netNamedPipeEndpointBehaviour.integrationToken>IGT</bally.netNamedPipeEndpointBehaviour.integrationToken>
   
  <bally.standardServiceBehaviour.includeExceptionDetailInFaults>true</bally.standardServiceBehaviour.includeExceptionDetailInFaults>
  <bally.standardServiceBehaviour.httpHelpPageEnabled>true</bally.standardServiceBehaviour.httpHelpPageEnabled>

  <bally.operator>Casino 6601</bally.operator>
  <bally.version>1.0.0</bally.version>
  <bally.status>Alive</bally.status>
  
  <gameLaunch.playerEndPoint.address>http://integrationtest:18261/Player</gameLaunch.playerEndPoint.address>
  <gameLaunch.evolution.host>cit1-bedegaming.evolutiongaming.com</gameLaunch.evolution.host>
  <gameLaunch.evolution.uaId>0nhhhtlcujmhrkrvxoqqv5yfl6o25d36</gameLaunch.evolution.uaId>
  <gameLaunch.evolution.uaIdPass>test123</gameLaunch.evolution.uaIdPass>
  <gameLaunch.loggingConfiguration.errorLogFileTraceListener>logs\_errors_server.log</gameLaunch.loggingConfiguration.errorLogFileTraceListener>
</envConfig>