<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FB.RestService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="ioCKernelConfiguration" type="PebbleCode.Framework.IoC.IoCKernelConfiguration, PC.Framework" />
    <section name="monitoringConfiguration" type="SGP.Monitoring.MonitoringConfiguration, SGP.Monitoring" />
    <section name="azureConfiguration" type="SGP.Messaging.Configuration.AzureConfiguration, SGP.Messaging" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

  <appSettings>
    <add key="IgtServer" value="" />
    <add key="IgtUserName" value="" />
    <add key="IgtPassword" value="" />
    <add key="IgtSkinCode" value="" />
    <add key="IgtNSCode" value="" />
    <add key="SiteCode" value="" />
    <add key="IgtTaskInterval" value="" />
    <add key="IgtProtocolType" value="" />
    <add key="IgtCountryCode" value="" />

    <add key="GameLaunchUrl" value="" />

    <add key="GameEngine" value="" />

    <add key="connectionString" value="0" />
    <add key="db.host" value="" />
    <add key="db.name" value="" />
    <add key="db.port" value="" />
    <add key="db.user" value="" />
    <add key="db.password" value="" />
    <add key="db.compression" value="" />

    <add key="SqlMap.Assembly" value="" />
    <add key="SqlMap.Resource" value="" />

    <add key="app.version" value="" />
    <add key="app.environment" value="" />

    <add key="loginExpiryMinutes" value="" />

    <add key="igt.username" value="" />
    <add key="igt.password" value="" />

    <add key="sgp.token" value=""/>
    <add key="gamingMetadataStorageRootDirectory" value="" />
    <add key="gamingMetadataStorageSubDirectoryFormat" value="" />
    <!-- Filename will include the gaming event id -->
    <add key="gamingMetadataStorageFileNameFormat" value="" />
  </appSettings>


  <azureConfiguration>
    <settings>
      <add key="azureNamespace" value=""></add>
      <add key="issuer" value=""></add>
      <add key="key" value="="></add>
    </settings>
  </azureConfiguration>


  <ioCKernelConfiguration>
    <bindingAssemblys>
      <assembly assembly="SGP.Wallet.Bonuses" />
      <assembly assembly="SGP.Entities" />
      <assembly assembly="SGP.Messaging" />
      <assembly assembly="SGP.Wallet.Service" />
    </bindingAssemblys>
  </ioCKernelConfiguration>

  <monitoringConfiguration>
    <serviceMonitorGroups>
      <serviceMonitorGroup name="IGT">
        <serviceMonitors>
          <serviceMonitorConfiguration name="SGP IGT prod01a" type="DummyServiceMonitor" />
          <serviceMonitorConfiguration name="SGP Wallet prod01a" type="TcpPortServiceMonitor">
            <settings>
              <add key="ipAddress" value="" />
              <add key="port" value="" />
              <add key="timeout" value="5" />
            </settings>
          </serviceMonitorConfiguration>
          <serviceMonitorConfiguration name="SGP MySql prod01a" type="DatabaseServiceMonitor">
            <settings>
              <add key="timeout" value="5" />
            </settings>
          </serviceMonitorConfiguration>
        </serviceMonitors>
      </serviceMonitorGroup>

      <serviceMonitorGroup name="SGP.Wallet">
        <serviceMonitors>
          <serviceMonitorConfiguration name="SGP IGT prod01a" type="TcpPortServiceMonitor">
            <settings>
              <add key="ipAddress" value="" />
              <add key="port" value="" />
              <add key="timeout" value="5" />
            </settings>
          </serviceMonitorConfiguration>
          <serviceMonitorConfiguration name="SGP Wallet prod01a" type="DummyServiceMonitor" />
          <serviceMonitorConfiguration name="SGP MySql prod01a" type="DatabaseServiceMonitor">
            <settings>
              <add key="timeout" value="5" />
            </settings>
          </serviceMonitorConfiguration>
        </serviceMonitors>
      </serviceMonitorGroup>
    </serviceMonitorGroups>
  </monitoringConfiguration>

  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="" logWarningsWhenNoCategoriesMatch="true">

    <listeners>
      <add name="SGP Service Log File Trace Listener"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging"
           fileName="logs\sgp.log" rollSizeKB="2048" timeStampPattern="yyyy-MM-dd" rollFileExistsBehavior="Increment" rollInterval="None" formatter="System Log File Trace Formatter" header="" footer="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None"
           />
      <add name="Debug Trace Listener"
           type="PebbleCode.Framework.Logging.DebugTraceListener, PC.Framework"
           listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging"
           traceOutputOptions="None" filter="All" initializeData="" formatter="Debug Trace Formatter"
           />
    </listeners>

    <formatters>
      <add name="Client Error Log File Trace Formatter"
           type="PebbleCode.Framework.Logging.FileFormatter, PC.Framework"
           />
      <add name="Debug Trace Formatter"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
           template="{message}"
           />
      <add name="System Log File Trace Formatter"
           type="PebbleCode.Framework.Logging.FileFormatter, PC.Framework"
           />
      <add name="Profiler Log File Trace Formatter"
           type="PebbleCode.Framework.Logging.FileFormatter, PC.Framework"
           />
      <add name="BadIp Formatter"
           type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging"
           template="{message}"
           />
    </formatters>

    <logFilters>
      <add categoryFilterMode="AllowAllExceptDenied" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.CategoryFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Category Filter">
        <categoryFilters>
          <add name="MessageData" />
        </categoryFilters>
      </add>
    </logFilters>

    <categorySources>
      <add switchValue="" name="DbProfiler">
      </add>
      <add switchValue="" name="SysProfiler">
      </add>
      <add switchValue="" name="RgsXT">
        <listeners>
          <add name="SGP Service Log File Trace Listener" />
        </listeners>
      </add>
    </categorySources>

    <specialSources>
      <allEvents switchValue="" name="All Events" >
        <listeners>
          <add name="SGP Service Log File Trace Listener" />
        </listeners>
      </allEvents>
      <notProcessed switchValue="" name="Unprocessed Category">
        <listeners>
          <add name="SGP Service Log File Trace Listener" />
        </listeners>
      </notProcessed>
      <errors switchValue="" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="SGP Service Log File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>

  </loggingConfiguration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <!-- 
        hostNameComparisonMode=Exact allows us to bind multiple http end points to the same port on different DNS/IP addresses 
        e.g. http://dev01.sgp.pebblecode.com:18200/ and http://dev03.sgp.pebblecode.com:18200/  (notice same port number)
        -->

        <!-- http -->
        <binding name="webHttpBindingConfig" sendTimeout="05:00:00">
        </binding>

        <!-- http over SSL (https) -->
        <binding name="webHttpsBindingConfig" sendTimeout="05:00:00">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>

      </webHttpBinding>
      <netNamedPipeBinding>
        <binding name="netNamedPipeBindingConfig" sendTimeout="05:00:00" maxReceivedMessageSize="2097152"
                     maxBufferSize="2097152"
                     maxBufferPoolSize="2097152" />
      </netNamedPipeBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="gameRTJsonBehavior" type="SGP.ServiceModel.GameRTServerEndpointBehaviorExtensionElement, SGP.ServiceModel"/>
        <add name="gameRTNamedPipeBehavior" type="SGP.ServiceModel.GameRTServerBinaryEndpointBehaviorExtensionElement, SGP.ServiceModel"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="gameRTJsonBehavior">
          <dataContractSerializer maxItemsInObjectGraph="165536" />
          <endpointDiscovery enabled="true" />
          <webHttp helpEnabled="" defaultOutgoingResponseFormat="Json" />
          <gameRTJsonBehavior />
        </behavior>
        <behavior name="webXmlOverHttpBehavior">
          <endpointDiscovery enabled="true" />
          <webHttp helpEnabled="" defaultOutgoingResponseFormat="Xml" />
        </behavior>
        <behavior name="webJsonOverHttpBehavior">
          <dataContractSerializer maxItemsInObjectGraph="165536" />
          <endpointDiscovery enabled="true" />
          <webHttp helpEnabled="" defaultOutgoingResponseFormat="Json" />
        </behavior>
        <behavior name="netNamedPipeBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="9999999" />
          <gameRTNamedPipeBehavior integrationToken=""/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="standardServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="" httpHelpPageEnabled="" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <!-- Wallet Service Endpoints (for clients) -->
      <endpoint name="GameRT"  contract="BedeGaming.GameRT.v1.IGameRT" address=""
                behaviorConfiguration="netNamedPipeBehaviour" binding="netNamedPipeBinding" bindingConfiguration="netNamedPipeBindingConfig" />
    </client>
    <services>
      <!-- IGT Service Endpoints -->
      <service name="SGP.Integrations.IGT.RgsXT_RestService" behaviorConfiguration="standardServiceBehaviour">
        <endpoint name="RgsXT" contract="SGP.Integrations.IGT.IRgsXT" address=""
                  behaviorConfiguration="webXmlOverHttpBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfig" />
        <!-- HEALTH MONITORING ENDPOINT -->
        <endpoint name="Monitoring" contract="BedeGaming.Wallet.v1.IMonitoringContract" address=""
                  behaviorConfiguration="webXmlOverHttpBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfig" />
      </service>
      <!-- Wallet Service Endpoints -->
      <service name="SGP.Wallet.Service.SGPWalletService" behaviorConfiguration="standardServiceBehaviour">
        <!-- HTTP JSON ENDPOINTS -->
        <endpoint name="Banking" contract="BedeGaming.Wallet.v1.IBankingContract" address=""
                  behaviorConfiguration="webJsonOverHttpBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfig" />
        <endpoint name="Player" contract="BedeGaming.Wallet.v1.IPlayerContract" address=""
                  behaviorConfiguration="webJsonOverHttpBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfig" />
        <endpoint name="Admin" contract="BedeGaming.Wallet.v1.IAdminContract" address=""
                  behaviorConfiguration="webJsonOverHttpBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfig" />
        <endpoint name="Discovery" contract="BedeGaming.Wallet.v1.IDiscoveryContract" address=""
                  behaviorConfiguration="webJsonOverHttpBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfig" />
        <endpoint name="GameRT.json" contract="BedeGaming.GameRT.v1.IGameRT" address=""
                  behaviorConfiguration="gameRTJsonBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfig" />
        <!-- NET NAMED PIPE BINARY ENDPOINTS -->
        <endpoint name="GameRT" contract="BedeGaming.GameRT.v1.IGameRT" address=""
                  behaviorConfiguration="netNamedPipeBehaviour" binding="netNamedPipeBinding" bindingConfiguration="netNamedPipeBindingConfig" />
        <!-- HEALTH MONITORING ENDPOINT -->
        <endpoint name="Monitoring" contract="BedeGaming.Wallet.v1.IMonitoringContract" address=""
                  behaviorConfiguration="webXmlOverHttpBehavior" binding="webHttpBinding" bindingConfiguration="webHttpBindingConfig" />
      </service>
    </services>
    <diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="3000"
           maxSizeOfMessageToLog="2000"/>
    </diagnostics>
  </system.serviceModel>


  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false"/>
  </system.webServer>


  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Warning,ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Information,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData=".\logs\web_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData=".\logs\web_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>

</configuration>
